/*  rendre la page web a zero pour nous permettre de defnir nos propres marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-size: 1.25rem; /* équivalent à 20px */
}

.nav-bar{
    background-color: #3e464b;
    padding: 10px 5% 10px 5%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 100;
}

.logo{
    color: rgb(255, 196, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar ul .logo {
    margin-right: 5vw;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 12px;
}

.nav-bar ul .logo{
    margin-right: 100px;
}

.nav-bar .menu{
    margin-right: 25px;    
}

.menu a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.menu a:hover{
    color: rgb(255, 196, 0);
}

form .search{
    height: 32px;
    margin-top: 30px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #3e464b;
    border: none;
    outline: none; /* Pour désactiver la ligne blanche par défaut */
    caret-color: white;
}

.recherche a img{
        height: 26px; /* Ajuste la hauteur de l'icône pour correspondre à la barre de recherche */
        vertical-align: middle; /* Aligne l'image au milieu verticalement */
        cursor: pointer;
        padding-right: 30px;
        margin-top: 30px;
        margin-left: 40px;
}

.left-content {
    display: flex; /* Active le modèle de flexbox pour le contenu */
    flex-direction: column; /* Aligne les enfants en colonne */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: flex-start; /* Aligne le contenu à gauche */
}

.content {
    z-index: 2; /* Pour que le contenu soit au-dessus de l'image */
}

.content{
    margin-top: 150px;
    margin-left: 100px;
}

.content button{
    height: 36px;
    width: 120px;
    background-color: rgb(255, 196, 0);
    outline: none;
    border: white;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-bottom: 7px;
    border-radius: 5px;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Change la couleur au survol */
}

/* Style La recherche provenant de la barre de recherche */
.search-succes{
    text-align: center;
    font-size: 32px;
    color: rgb(255, 196, 0);
}

.search-erreur{
    text-align: center;
    font-size: 32px;
    color: white;
}

.recherche {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.recherche .search {
    width: 50%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

/* Style du conteneur du formulaire */
.form1 {
    max-width: 600px;
    max-height: auto;
}

/* Style des champs de saisie */
.form1 input[type="text"],
.form1 input[type="email"],
.form1 input[type="tel"],
.form1 textarea {
    width: 100%; /* Champ prend tout l'espace disponible */
    padding: 10px; /* Espace intérieur */
    margin-bottom: 15px; /* Espacement entre les champs */
    border: 1px solid #ced4da; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    font-family: Arial, sans-serif; /* Police par défaut */
    caret-color: rgb(255, 196, 0);
}

/* Style du textarea */
.form1 textarea {
    height: 100px; /* Hauteur du textarea */
    resize: none; /* Désactiver le redimensionnement */
    caret-color: rgb(255, 196, 0);
}

/* Style du bouton */
.form1 button {
    width: 100%; /* Le bouton prend toute la largeur */
    padding: 10px;
    background-color: rgb(255, 196, 0); /* Couleur bleu Bootstrap */
    color: white; /* Texte en blanc */
    border: none; /* Sans bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 18px;
    cursor: pointer; /* Curseur pointeur au survol */
    transition: background-color 0.3s ease; /* Animation au survol */
}

.form-commander {
    padding-top: 140px;
    max-width: 600px;
    margin: 0 auto; /* Centrer le formulaire */
}

.form-commander input[type="text"],
.form-commander input[type="tel"],
.form-commander select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

.form-commander button {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 196, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-commander button:hover {
    background-color: #007BFF;
}


/* Changer la couleur des icônes sociales au survol */
.elements-social ul li a:hover {
    color: rgb(255, 196, 0) !important;
}


.text-base-color,
.bg-base-color,
.text-golden-yellow {
    color: rgb(255, 196, 0) !important;
}

.bg-base-color {
    background-color: rgb(255, 196, 0) !important;
}

.separator-animation {
    background-color: rgb(255, 196, 0) !important;
}

.swiper-wrapper {
    display: flex !important;
    flex-wrap: nowrap;
}
.swiper-slide {
    flex: 0 0 auto;
}

section {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.container {
    margin-bottom: 0 !important;
}

.row {
    align-items: flex-start !important;
}
