{% extends 'admin\admin.html' %}
{% block content %}
    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Liste des Annonces</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0"></span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->

    <!-- Affichage des messages de succès -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<div>
    <!-- row -->
    <div class="row row-sm">
        <div class="col-xl-3 col-lg-3 col-md-12 mb-3 mb-md-0">
            <div class="card">
                <div class="card-header border-bottom pt-3 pb-3 mb-0 font-weight-bold text-uppercase">Filtre</div>
                <div class="card-body pb-0">
                    <div class="row row-sm  mg-t-10">
                        <div class="col-xl-12  col-lg-12 col-md-3 col-sm-3 mg-t-10 mg-lg-t-0">
                            <div class="form-group mb-0">
                                <label class="form-label">Baby & Kids</label>
                                <input type="text" class="form-control" placeholder="Search ...">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-xl-12  col-lg-12 col-md-3 col-sm-3 mg-t-10 mg-lg-t-0">
                            <div class="form-group mb-0">
                                <label class="form-label">Women</label>
                                <select name="beast" id="select-beast1" class="form-control  nice-select  custom-select">
                                    <option value="0">--Select--</option>
                                    <option value="1">Western wear</option>
                                    <option value="2">Foot wear</option>
                                    <option value="3">Top wear</option>
                                    <option value="4">Bootom wear</option>
                                    <option value="5">Beuty Groming</option>
                                    <option value="6">Accessories</option>
                                    <option value="7">jewellery</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12  col-lg-12 col-md-3 col-sm-3  mg-t-10 mg-lg-t-0">
                            <div class="form-group">
                                <label class="form-label">Mens</label>
                                <select name="beast" id="select-beast" class="form-control  nice-select  custom-select">
                                    <option value="0">--Select--</option>
                                    <option value="1">Foot wear</option>
                                    <option value="2">Top wear</option>
                                    <option value="3">Bootom wear</option>
                                    <option value="4">Men's Groming</option>
                                    <option value="5">Accessories</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12  col-lg-12 col-md-3 col-sm-3   mg-lg-b-20">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                <span class="btn-double-text " data-text="Filtrer les annonces">Rechercher</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12">
            <div class="row row-sm">
                {% for annonce in annonces %}
                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="pro-img-box">
                                <div class="d-flex product-sale">
                                    <span class="tag tag-azure tx-24">{{ annonce.category.nom|default:"*" }}</span>
                                </div>
        
                                <!-- Afficher la première image de l'annonce -->
                                {% if annonce.photos.all %}
                                <img class="w-100" src="{{ annonce.photos.first.image.url }}" alt="product-image">
                                {% else %}
                                <img class="w-100" src="/static/default_image.jpg" alt="default-image">
                                {% endif %}
                            </div>
                            <div class="tx-left pd-t-15">
                                <div class="main-content-label">{{ annonce.titre|truncatewords:3|safe|default:"Titre indisponible" }}</div>
                                <p class="tx-12 text-muted">{{ annonce.description|truncatewords:10|safe }}</p>
                                <h4 class="h5 mb-2 mt-2 text-center font-weight-bold">{{ annonce.prix|default:0 }} FCFA par <span class="fw-600 alt-font text-dark-gray">m<sup>2</sup></span></h4>
                            </div>
                            <div class="text-center mt-4">
                                <a href="{% url 'edit-annonce' annonce.id %}" class="btn btn-primary btn-block">Modifier</a>
                                <form action="{% url 'supprimer-annonce' annonce.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="method" value="DELETE">
                                    <button type="submit" class="btn btn-warning btn-block" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?');">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <div class="col-lg-12">
                    <!-- Pagination Links -->
                    {% if annonces.has_other_pages %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if annonces.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ annonces.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
        
                            {% for i in annonces.paginator.page_range %}
                                {% if annonces.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
        
                            {% if annonces.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ annonces.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
    <!-- row closed -->
</div>

{% endblock %}