
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETABLISSEMENT BIG-TRANSPORT</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="{% static 'css/stylepro.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/corporate.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidemenu1.css' %}">
    <link rel="stylesheet" href="{% static 'css/skin-modes.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-dark.css' %}">
    <!-- slider revolution CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'r/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'r/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'r/css/navigation.css' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="demos/real-estate/real-estate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="...ton intégrity key..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="{% static 'r/js/jquery.themepunch.revolution.min.js' %}"></script>
</head>
<body>
    <!--DEBUT MENU-->
    <nav class="nav-bar" id="acceuil">
        <ul>
            <li class="logo">ETS BIG-TRANSPORT</li>
            <li class="menu"><a href="{% url 'index' %}">Acceuil</a></li>
            <li class="menu"><a href="#">A-propos</a></li>
            <li class="menu"><a href="{% url 'locations' %}">Locations</a></li>
            <li class="menu"><a href="{% url 'produits' %}">Produits</a></li>
            <li class="menu"><a href="#">Nos Agents</a></li>
            <li class="menu"><a href="#">Contactez-nous</a></li>
        </ul>
        <form class="recherche" method="get" action="{% url 'search' %}">
            <input class="search" name="search" type="search" placeholder="Recherche">
            <a href="https://wa.me/+22896986875"><img src="{% static 'images/shopping-cart-fill.svg' %}" alt="shopping"></a>
        </form>
    </nav>
    <!--FIN MENU-->

    {% block content %}

    {% endblock content %}

    <!-- start footer -->
    <footer class="footer-light bg-gradient-very-light-gray pb-0">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <!-- start footer column -->
                <div class="col-auto d-flex flex-column flex-md-row align-items-center text-center text-md-start">
                    <div class="text-dark-gray fs-28 alt-font fw-500">Divers Materiaux de constructions <span class="fw-700 text-decoration-line-bottom">a vendre et a louer.</span></div>
                    <div class="bg-white border-radius-50px d-flex align-items-center p-10px ps-35px ms-20px md-ps-20px md-ms-15px box-shadow-medium sm-m-20px">
                        <a href="#" class="text-dark-gray fs-22 alt-font fw-500 me-10px overflow-hidden">Dire, <span class="fw-700 w-65px text-start d-inline-block" data-fancy-text='{ "effect": "rotate", "string": ["Salut!", "Hi!", "Hello!"] }'></span></a>
                        <span class="text-dark-gray h-45px w-45px text-center d-flex align-items-center justify-content-center border-radius-100 bg-base-color-transparent fs-20">&#128075;</span>
                    </div>
                </div>
                <!-- end footer column -->
            </div>
            <div class="row justify-content-center mt-5 mb-4 sm-mb-35px">
                <!-- start footer column -->
                <div class="col-lg-3 last-paragraph-no-margin md-mb-35px text-center text-lg-start">
                    <a href="#" class="footer-logo mb-10px d-inline-block"><img src="images/demo-real-estate-logo-black.png" data-at2x="images/demo-real-estate-logo-black@2x.png" alt=""></a>
                    <p class="w-85 lg-w-100">Faite confiance a ETS BIG TRANSPORT pour tous vos besoins dans la construction.</p>
                    <div class="elements-social social-icon-style-02 mt-15px">
                        <ul class="small-icon dark">
                            <li><a class="facebook" href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a class="dribbble" href="https://wa.me/+22896986875" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li> 
                            <li><a class="twitter" href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li> 
                            <li><a class="instagram" href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-md-3 sm-mb-25px">
                    <span class="alt-font fs-18 fw-600 d-block text-dark-gray mb-5px">Entreprise</span>
                    <ul>
                        <li><a href="#" id="titre-annonce">A-propos</a></li>
                        <li><a href="#" id="titre-annonce">Nos agents</a></li>
                        <li><a href="#" id="titre-annonce">Dernier blog</a></li>
                        <li><a href="#" id="titre-annonce">Contact-nous</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-md-3 sm-mb-25px">
                    <span class="alt-font fs-18 fw-600 d-block text-dark-gray mb-5px">Resources</span>
                    <ul>
                        <li><a href="#" id="titre-annonce">Service de location</a></li>
                        <li><a href="#" id="titre-annonce">Achat</a></li>
                        <li><a href="#" id="titre-annonce">Service de demolition</a></li>
                        <li><a href="#" id="titre-annonce">Budget</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-md-3">
                    <span class="alt-font fs-18 fw-600 d-block text-dark-gray mb-5px">Client</span>
                    <ul>                           
                        <li><a href="#"  id="titre-annonce">Assistance client</a></li>
                        <li><a href="#"  id="titre-annonce">Centre d'aide</a></li>
                        <li><a href="#"  id="titre-annonce">État du système</a></li>
                        <li><a href="#"  id="titre-annonce">Retour</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-md-3">
                    <span class="alt-font fs-18 fw-600 d-block text-dark-gray mb-10px">Dis bonjour</span>
                    <span class="d-block lh-normal">Besoin d'aide ?</span>
                    <a href="mailto:btbtp@75gmail.com" class="text-dark-gray lh-22 d-inline-block mb-20px" id="titre-annonce">btbtp75@gmail.com</a>
                    <span class="d-block lh-normal">Service Client</span>
                    <a href="tel:+22896986875" class="text-dark-gray lh-22 d-inline-block" id="titre-annonce">+228 96 98 68 75</a>
                    <a href="tel:+22896986875" class="text-dark-gray lh-22 d-inline-block" id="titre-annonce">+228 97 86 87 47</a>
                </div>
                <!-- end footer column -->                     
            </div>
            <!-- start footer content -->
            <div class="border-top border-color-extra-medium-gray pt-35px pb-35px text-center">
                <span class="fs-13 w-60 lg-w-70 md-w-90 sm-w-100 d-block mx-auto lh-22">ETS BIG-TRANSPORT <a href="#" class="text-dark-gray text-decoration-line-bottom"  id="titre-annonce">politique de confidentialite</a> et <a href="#" class="text-dark-gray text-decoration-line-bottom"  id="titre-annonce">les termes de service</a> apply. You must not use this website if you disagree with any of these website standard terms and conditions.</span>
            </div>
            <!-- end footer content -->
        </div> 
    </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src=" {% static 'r/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'r/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'r/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'r/js/extensions/revolution.extension.parallax.min.js' %}"></script>
</body>
</html>