{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- start banner slider -->
    <section class="p-0">
        <div class="swiper md-h-600px sm-h-900px swiper-number-pagination-style-01 magic-cursor drag-cursor" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false },  "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }' data-number-pagination="1">
            <div class="swiper-wrapper">
                <!-- start slider item -->
                {% for annonce in annonces %}
                <div class="swiper-slide cover-background" style="background-image: url('{% if annonce.photos.first %}{{ annonce.photos.first.image.url }}{% else %}/static/images/default-image.jpg{% endif %}'); height: 500px;"> 
                    <div class="container h-100 mt-10">
                        <div class="row align-items-center h-100">
                            <div class="col-md-8 position-relative text-white" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <div class="alt-font fs-110 lg-fs-90 lh-90 lg-lh-80 mb-45px sm-mb-25px w-80 xs-w-100 ls-minus-2px">
                                    {{ annonce.titre|default:"Titre indisponible" }}
                                </div>  
                                <a href="{% url 'commander' %}" class="btn btn-white btn-large border-1 btn-round-edge btn-box-shadow me-15px xs-mt-10px xs-mb-10px">Commander</a>
                                <a href="{% url 'detail-annonce' annonce.id %}" class="btn btn-transparent-white-light border-1 btn-large btn-round-edge fw-500 xs-mt-10px xs-mb-10px">Voir details</a>
                            </div>
                        </div> 
                    </div>
                    <div class="position-absolute col-xxl-5 col-lg-6 right-0px bottom-0px pt-30px pb-20px ps-40px pe-40px lg-p-35px d-none d-lg-inline-block bg-white border-radius-left-8px" data-anime='{ "translateX": [50, 0], "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="row justify-content-center">
                            <div class="col-xl-5 ps-35px lg-ps-15px text-center text-xl-start">
                                <span class="text-dark-gray fw-500 mb-5px d-block alt-font">PRIX : </span>
                                <h4 class="text-dark-gray fw-700 alt-font mb-0 ls-minus-1px">
                                    {{ annonce.prix|default:0 }} FCFA 
                                    {% if annonce.category.titre == "VENTE" %}
                                        / m<sup>3</sup>
                                    {% elif annonce.category.titre == "LOCATION" %}
                                        / JOURNALIER
                                    {% endif %}
                                </h4>     
                            </div>
                        </div>
                    </div> 
                </div>
                {% endfor %}
                <!-- end slider item -->
            </div>
        </div>
    </section>
    <!-- end banner slider -->
    <!-- start section -->
    <section class="mb-5">
        <div class="container">
            <div class="row align-items-start align-items-center justify-content-center">
                <div class="col-lg-6 md-mb-50px position-relative" data-anime='{ "effect": "slide", "color": "#262b35", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
                    <figure class="position-relative mb-0 overflow-hidden border-radius-6px">
                        <figcaption class="position-absolute border-radius-left-8px bg-base-color right-0px bottom-0px p-45px last-paragraph-no-margin">
                            <i class="feather icon-feather-home icon-medium text-white mb-15px d-block"></i>
                            <h4 class="alt-font fw-700 text-white mb-0 d-block">258,952+</h4>
                            <p class="text-white">Matériaux à vendre</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6" data-anime='{ "opacity": [0,1], "duration": 1200, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <span class="fs-20 d-inline-block mb-15px text-base-color">Votre partenaire en matériaux de construction et transport</span>
                    <h2 class="alt-font fw-500 text-dark-gray ls-minus-1px shadow-none sm-w-85" data-shadow-animation="true" data-animation-delay="700">Nous vous fournissons les matériaux essentiels pour vos chantiers : <span class="fw-700 text-highlight">sable, gravier, briques et bien plus encore.<span class="bg-base-color h-10px bottom-10px opacity-3 separator-animation"></span></span></h2>
                    <p class="w-80 md-w-100">Besoin d’un camion pour la livraison ? Nous proposons un service de location fiable et adapté à vos besoins.
                        Faites confiance à notre expertise pour un approvisionnement rapide et de qualité.</p>
                    <div class="mb-35px">
                        <!-- start features box item -->
                        <div class="icon-with-text-style-08 mb-10px">
                            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                                <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-base-color-transparent rounded-circle me-15px">
                                    <i class="fa-solid fa-check fs-14 text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="text-dark-gray">Plus de 3 ans d'expérience.</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="icon-with-text-style-08">
                            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                                <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-base-color-transparent rounded-circle me-15px">
                                    <i class="fa-solid fa-check fs-14 text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="text-dark-gray">Plus de 320 personnes font confiance à notre société.</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                    </div>
                    <div class="d-inline-block">
                        <a href="#" class="btn btn-dark-gray btn-medium btn-round-edge me-25px">A propos de nous</a>
                        <a href="#" class="btn btn-large btn-link btn-hover-animation-switch text-dark-gray p-0">
                            <span>
                                <span class="btn-text">Trouver des matériaux.</span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section --> 
    <!-- start section --> 
    <section class="bg-very-light-gray">
        <div class="container">
            <div class="row align-items-center mb-6 xs-mb-8">
                <div class="col-md-8 text-center text-md-start sm-mb-20px">
                    <h3 class="alt-font text-dark-gray fw-500 mb-0 ls-minus-1px shadow-none">
                        Nos produits en <span class="fw-700 text-highlight d-inline-block">
                            vente et location
                            <span class="bg-base-color h-10px bottom-1px opacity-3 separator-animation">
                            </span>
                        </span>
                    </h3>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <a href="#" class="fw-600 alt-font text-dark-gray text-dark-gray-hover d-flex align-items-center">
                            Voir tous les produits
                            <span class="d-flex align-items-center justify-content-center bg-dark-gray h-40px w-40px text-center rounded-circle fs-16 text-white ms-10px">
                                <i class="fa-brands fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 justify-content-center">
                {% for annonce in annonces %}
                <div class="col">
                    <div class="border-radius-6px overflow-hidden box-shadow-large">
                        <div class="image position-relative">
                            <a href="#">
                                <img src="{{ annonce.photos.first.image.url }}" alt="{{ annonce.titre }}">
                            </a>
                            <div class="col-auto bg-base-color border-radius-50px ps-15px pe-15px text-uppercase alt-font fw-600 text-white fs-12 lh-24 position-absolute left-20px top-20px" style="color: #ffffff !important;">
                                {{ annonce.category.titre|default:"Non classé" }}
                            </div>
                        </div> 
                        <div class="bg-white">
                            <div class="row ps-35px pe-35px pt-20px pb-20px md-ps-25px md-pe-25px align-items-center">
                                <div class="col">
                                    <a href="#" class="alt-font text-dark-gray fw-700 fs-22 me-10px" id="titre-annonce">
                                        {{ annonce.titre|truncatewords:5|default:"Titre indisponible" }}
                                    </a>
                                </div>
                                <div class="col text-end">
                                    <a href="#" class="btn btn-dark-gray btn-very-small btn-round-edge fw-600">
                                        Commander
                                    </a>
                                </div>
                            </div>
                            <div class="row ps-35px pe-35px pt-20px pb-20px md-ps-25px md-pe-25px align-items-center">
                                <div class="col">
                                    <a href="#" class="btn btn-dark-gray btn-very-small btn-round-edge fw-600">
                                        Voir Plus
                                    </a>
                                </div>
                                <div class="col text-end">
                                    <span class="fs-20 alt-font text-dark-gray fw-700 mb-0">{{ annonce.prix|default:0 }} FCFA / m<sup>3</sup></span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>  
                {% endfor %}
            </div> 
        </div>
    </section>
    <!-- end section -->

    <!-- start section -->
    <section class="overflow-hidden bg-gradient-very-light-gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 md-mb-50px sm-mb-35px">
                    <span class="fs-20 d-inline-block mb-15px text-base-color">Fournisseur de matériaux de construction et solutions de transport</span>
                    <h3 class="alt-font fw-500 text-dark-gray ls-minus-1px w-90 xl-w-100 shadow-none" data-shadow-animation="true" data-animation-delay="700">Nous sommes disponibles dans <span class="fw-700 text-highlight d-inline-block">plusieurs quartiers<span class="bg-base-color h-10px bottom-1px opacity-3 separator-animation"></span></span></h3>
                    <p class="mb-30px w-90 md-w-100">Nous vous accompagnons dans vos projets de construction en vous proposant une large gamme de matériaux : sable, gravier, briques et bien plus encore.
                        Nous mettons également à votre disposition des camions pour la livraison et le transport de vos matériaux, garantissant rapidité et efficacité.</p>
                    <div class="d-flex">
                        <!-- start slider navigation -->
                        <div class="slider-one-slide-prev-1 swiper-button-prev slider-navigation-style-04 bg-white box-shadow-large"><i class="fa-solid fa-arrow-left icon-small text-dark-gray"></i></div>
                        <div class="slider-one-slide-next-1 swiper-button-next slider-navigation-style-04 bg-white box-shadow-large"><i class="fa-solid fa-arrow-right icon-small text-dark-gray"></i></div>
                        <!-- end slider navigation -->
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="outside-box-right-20 sm-outside-box-right-0" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <div class="swiper magic-cursor slider-one-slide" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "pagination": { "el": ".slider-three-slide-pagination", "clickable": true, "dynamicBullets": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start interactive banner item -->
                                    <div class="col interactive-banner-style-05">
                                        <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                                            <a href="#">
                                                <img src="{% static 'images/demo-real-estate-08.png' %}" class="w-100 border-radius-6px" alt="" />
                                                <div class="position-absolute top-0px left-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"></div>
                                                <div class="position-absolute top-25px right-25px bg-orange border-radius-50px ps-5px pe-15px lh-28">
                                                    <div class="w-20px h-20px text-center bg-white rounded-circle d-inline-block align-middle text-orange lh-18">
                                                        <i class="fa-solid fa-check fs-10"></i>
                                                    </div>
                                                    <span class="d-inline-block align-middle alt-font fw-600 text-white fs-12 text-uppercase">Confiance</span>
                                                </div>
                                            </a>
                                            <figcaption class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                                                <img src="{% static 'images/demo-real-estate-08.png' %}" class="mb-auto h-70px" alt="" />
                                                <a href="#" class="text-white alt-font fw-600 fs-26">Adakpame, LOME</a>
                                                <span class="opacity-7 text-white">+17 Projets</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- end interactive banner item -->
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start interactive banner item -->
                                    <div class="col interactive-banner-style-05">
                                        <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                                            <a href="#">
                                                <img src="{% static 'images/demo-real-estate-08.png' %}" class="w-100 border-radius-6px" alt="" />
                                                <div class="position-absolute top-0px left-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"></div>
                                                <div class="position-absolute top-25px right-25px bg-base-color border-radius-50px ps-5px pe-15px lh-28">
                                                    <div class="w-20px h-20px text-center bg-white rounded-circle d-inline-block align-middle text-base-color lh-18">
                                                        <i class="fa-solid fa-check fs-10"></i>
                                                    </div>
                                                    <span class="d-inline-block align-middle alt-font fw-600 text-white fs-12 text-uppercase">Certifié</span>
                                                </div>
                                            </a>
                                            <figcaption class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                                                <img src="{% static 'images/demo-real-estate-08.png' %}" class="mb-auto h-70px" alt="" />
                                                <a href="#" class="text-white alt-font fw-600 fs-26">Segbe-Akato, LOME</a>
                                                <span class="opacity-7 text-white">+20 Clients</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- end interactive banner item -->
                                </div>
                                <!-- end slider item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="py-0">
        <div class="container">
            <div class="row justify-content-center mt-6 sm-mt-50px">
                <div class="col-auto icon-with-text-style-08">
                    <div class="feature-box feature-box-left-icon-middle">
                        <div class="feature-box-icon me-15px">
                            <i class="bi bi-patch-check icon-medium text-base-color"></i>
                        </div>
                        <div class="feature-box-content alt-font text-dark-gray fs-22 fw-600">
                            Nous grandissons rapidement ! Aujourd'hui, ETS BIG-TRANSPORT compte plus de <span class="text-decoration-line-bottom">310 Cliensts actifs.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="position-relative overflow-hidden">
        <img src="{% static 'images/demo-real-estate-07.png' %}" alt="" class="position-absolute left-100px top-50px z-index-minus-1" data-bottom-top="transform: translate3d(80px, 0px, 0px);" data-top-bottom="transform: translate3d(-180px, 0px, 0px);" />
        <img src="{% static 'images/demo-real-estate-08.png' %}" alt="" class="position-absolute right-100px top-100px z-index-minus-1" data-bottom-top="transform:scale(1.4, 1.4) translate3d(0px, 0px, 0px);" data-top-bottom="transform:scale(1, 1) translate3d(-400px, 0px, 0px);" />
        <div class="container">  
            <div class="row align-items-center justify-content-center">  
                <div class="col-lg-6 text-end md-mb-50px" data-anime='{ "effect": "slide", "color": "#262b35", "direction":"lr", "easing": "easeOutQuad", "delay":50}'> 
                    <figure class="position-relative m-0 bottom-90px">
                        <figcaption class="position-absolute bg-dark-gray border-radius-10px box-shadow-quadruple-large xs-bottom-minus-20px left-minus-30px md-left-0px w-230px xs-w-210px text-center last-paragraph-no-margin animation-float">
                            <div class="bg-white pt-35px pb-35px border-radius-8px mb-15px position-relative top-minus-1px">
                                <h1 class="fw-700 ls-minus-3px text-dark-gray mb-0 alt-font">4.8</h1>
                                <div class="text-golden-yellow fs-18 ls-1px">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <span class="text-dark-gray d-block alt-font fw-600">2488 Reviews</span>
                                <div class="d-inline-block fs-12 text-uppercase bg-base-color ps-20px pe-20px lh-30 text-white border-radius-100px box-shadow-large" style="color: #ffffff !important;">Excellent score</div>
                            </div>
                            <img src="{% static 'images/demo-real-estate-trustpilot.svg' %}" class="h-30px mb-20px" alt="" />
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 text-center text-lg-start" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <span class="fs-20 d-inline-block mb-15px text-base-color">Retour des clients</span>
                    <h2 class="alt-font fw-500 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true" data-animation-delay="700">Voici les témoinages de nos <span class="fw-700 text-highlight d-inline-block">de nos<span class="bg-base-color h-10px bottom-4px opacity-3 separator-animation"></span></span> clients</h2>
                    <div class="swiper position-relative" data-slider-options='{ "autoHeight": true, "loop": true, "allowTouchMove": true, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "effect": "fade" }'>
                        <div class="swiper-wrapper mb-40px">
                            <!-- start text slider item -->
                            <div class="swiper-slide review-style-08">
                                <p class="w-80 xl-w-90 lg-w-100">"Service au top ! J’ai commandé du sable et du gravier pour mon chantier, la livraison a été rapide et les matériaux de très bonne qualité. Je recommande fortement !"</p>
                                <div class="mt-20px">
                                    <img class="rounded-circle w-95px h-95px me-15px" src="{% static 'images/akdgroup.png' %}" alt="">
                                    <div class="d-inline-block align-middle text-start">
                                        <div class="text-dark-gray alt-font fs-20"><span class="fw-700">Jean K. KOUGBEDJI</span> AKD GROUP</div>
                                        <div class="review-star-icon fs-18">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end text slider item -->
                            <!-- start text slider item -->
                            <div class="swiper-slide review-style-08">
                                <p class="w-80 xl-w-90 lg-w-100">J’ai apprécié la flexibilité et la rapidité de livraison. Le Latérit de mon terrain a été fait sans aucun souci. Un service sérieux et efficace.</p>
                                <div class="mt-20px">
                                    <img class="rounded-circle w-95px h-95px me-15px" src="{% static 'images/heavymat.png' %}" alt="">
                                    <div class="d-inline-block align-middle text-start">
                                        <div class="text-dark-gray alt-font fs-20"><span class="fw-700">NOUGBESOU Komi JP</span> HEAVYMAT TOGO</div>
                                        <div class="review-star-icon fs-18">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end text slider item -->
                            <!-- start text slider item -->
                            <div class="swiper-slide review-style-08">
                                <p class="w-80 xl-w-90 lg-w-100">"Matériaux de très bonne qualité et service client réactif. La location des engins s’est bien déroulée, je referai appel à eux sans hésiter."</p>
                                <div class="mt-20px">
                                    <img class="rounded-circle w-95px h-95px me-15px" src="{% static 'images/karmod.png' %}" alt="">
                                    <div class="d-inline-block align-middle text-start">
                                        <div class="text-dark-gray alt-font fs-20"><span class="fw-700">DOSSAH Aku Dodzi, </span> KARMOD COMPANY</div>
                                        <div class="review-star-icon fs-18">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end text slider item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    {% endblock content %}

